@model ICollection<NotesApplication.Models.Note>

@{
    ViewBag.Title = "All notes";
    Layout = "_Layout";
}


<h1>All notes</h1>

<div>
    <span>Actions:</span>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>
<div>
    <form asp-action="All">
        Search by title: <input name="searchQuery" class="form-control" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </form>
</div>
<div>
    @foreach (var note in Model)
    {
        var prio = "";
        switch (note.Priority)
        {
            default:
            case Note.NotePriority.Normal:
                prio = "Normal";
                break;
            case Note.NotePriority.High:
                prio = "High";
                break;
            case Note.NotePriority.Critical:
                prio = "Critical";
                break;
        }
        <div class="note @prio-prio">
            <a asp-controller="Notes" asp-action="Details" asp-route-id="@note?.Id">@note.Title</a> <span>@prio</span>
            <p>@note.Text</p>
            <p>@note.CreationDate</p>
        </div>
    }
</div>