@model NotesApplication.Models.Note

@{
    ViewBag.Title = "Create note";
    Layout = "_Layout";
    var parentFolderId = ViewData["ParentFolderId"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h1>Create note</h1>
</head>
<body>

<div>
    <span>Actions:</span>
    <a asp-controller="Folders" asp-action="Details" asp-route-id="@parentFolderId">Back</a>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea rows="10" cols="40" asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                    @*<input type="range" min="1" max="3" value="1" asp-for="Priority" class="form-control" />*@
                <select asp-for="Priority" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(Note.NotePriority))"></select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-check">
                <label asp-for="IsFavourite" class="form-check-label"></label>
                <input type="checkbox" asp-for="IsFavourite" class="form-check-input" />
                <span asp-validation-for="IsFavourite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ParentFolderId" class="form-control" value="@parentFolderId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
