@model ICollection<NotesApplication.Models.Note>

@{
    ViewBag.Title = "Favourite notes";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h1>Favourite notes</h1>
</head>

<body>
<div>
    <span>Actions:</span>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>
<div>
    @foreach (var note in Model)
    {
        var prio = "";
        switch (note.Priority)
        {
            default:
            case Note.NotePriority.Normal:
                prio = "Normal";
                break;
            case Note.NotePriority.High:
                prio = "High";
                break;
            case Note.NotePriority.Critical:
                prio = "Critical";
                break;
        }
        <div class="note @prio-prio">
            <a asp-controller="Notes" asp-action="Details" asp-route-id="@note?.Id">@note.Title</a> <span>@prio</span>
            <p>@note.Text</p>
            <p>@note.CreationDate</p>
        </div>
    }
</div>

</body>
</html>